html,body,div,p,h2,h3,input,ul,li{
    margin: 0;
    padding: 0;
}  
html,body{
    font-family: "微软雅黑";
}

ul,li{
    list-style: none;
}
i{ font-style: normal }
.fl{float: left;}
.fr{float: right} 
.clearfix{zoom: 1;}
.clearfix:after{
    clear: both;
    content: "";
    visibility: hidden;
    display: block;
} 
.overHidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}